table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    font-size: 12px;
}



#encabezado {
  background-color: #d8ff66;
  color: black;
}

#cliente{
 width: 300px; 
}