table {
    border-collapse: collapse;
    font-size: 12px;
    font-family: sans-serif;

}

table thead tr th {
    border: 1px solid black;
    text-align: center;
}


table tbody tr td {
    border: 1px solid black;
    text-align: center;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
}

tfoot
{
	text-align: right;
}

.mitad{
	width: 345px;
	height: 75px;

}

.espacio{
	height: 10px;
}


.division{
	width: 30px;
	
}