table {
    border-collapse: collapse;
    font-size: 12px;
    font-family: sans-serif;

}

table thead tr th {
    border: 1px solid black;
    text-align: center;
}


table tbody tr td {
    border: 1px solid black;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.texto{
    color: #000000;
}

tfoot
{
	text-align: right;
}

.encabezado{
	width: 345px;
	height: 55px;

}

.espacio{
	height: 10px;
}


.division{
	width: 30px;
	
}

